# CMake build directory
build/

# Generated build files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Compiled output files (if any)
*.o
*.a
*.exe
*.so
pfr_non_boost-download/
pfr_non_boost-src/

# Kernel module build directory (if any)
linux/

# IDE-specific files (optional, based on your preference)
.vscode/